@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* shared style */
.btn-primary{
    background-color: #F63E7B;
    padding: 8px 40px;
    border: none;
    color: white;
    border-radius: 6px;
}

.text-primary{
    color: #F63E7B;
}

/* header style */

header{
    background-color: #fff8f5;
}

.logo{
    width: 128px;
    height: 48px;
}

.nav-container{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links > ul > li > a, .nav-links > ul > li{
    text-decoration: none;
    list-style: none;
    color: #474747;
}

a{
    text-decoration: none;
    color: white;
}

.nav-links > ul{
    display: flex;
    gap: 40px;
    align-items: center;
}

.hero-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0px;
    display: flex;
}

.hero-content{
    margin-top: 90px;
    width: 52%;
}

.hero-description{
    width: 50%;
    margin: 16px 0px;
    font-size: 14px;
}

.hero-image img{
    width: 484px;
    height: 478px;
}


/* services section styles */
.services-section{
    max-width: 1170px;
    margin: 80px auto;
}

.service-section-title{
    text-align: center;
    font-size: 34px;
    font-weight: 600;
}

.services-container{
    display: flex;
    gap: 60px;
    margin: 70px auto;
    width: 100%;
    text-align: center;
    align-items: center;
}

.service-image img{
    width: 72px;
    height: 72px;
}

.service-title{
    color:#111430;
    font-weight: semibold;
}

.service > h5{
    margin: 10px;
}

.service{
    padding: 24px;
}

.special-service{
    border: 2px solid white;
    box-shadow: 0 0 50px rgba(34, 34, 34, 0.164);
    border-radius: 6px;
}

.service > p, .customer-description{
    color: #00000085;
    font-weight: 400;
}

/* happy customer section styles */

.happy-customer-section{
    background-color: #fff8f5;
}

.happy-customer-container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    padding: 120px 0px;
}



.customer-image img{
    width: 580px;
    height: 381px;
}

.customer-content-title{
    font-size: 34px;
    font-weight: 600;
}

.customer-description{
    margin-top: 30px;
    font-size: 14px;
    width: 78%;
}

.customer-count-container{
    margin-top: 80px;
    display: flex;
    gap: 50px;
    align-items: center;
}


/* testimonial section styles */

.testimonial-section{
    max-width: 1170px;
    margin: 70px auto;
}

.testimonial-title{
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 60px;
}

.testimonial-container{
    display: flex;
    gap: 30px;
}

.person{
    display: flex;
    gap: 20px;
    align-items: center;
}

.person-image img{
    width: 64px;
}

.person-title{
    font-size: 13px;
    font-weight: 600;
}

.testimonial-description{
    margin: 16px 0px;
    color: #00000085;
}

.ratting{
    color: #FFAC0C;
}


.dots{
    display: flex;
    gap:10px;
    margin-top: 60px;
    justify-content: center;
}

.dot{
    width:12px;
    height: 12px;
    border-radius: 50%;
    background-color: #251D58;
}

.dot-2{
    background-color: #C4C4C4;
}

